<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skauti - {% block title %}{% endblock %}</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'index' %}">Úvodní stránka</a></li>
        <li><a href="{% url 'seznam' %}">Seznam skautů</a></li>
        <li><a href="{% url 'detail' 'fred' %}">Detail - později to smažeme</a></li>
    </ul>
    <h1>Tohle je naše aplikace o skautech...</h1>
    {% block content %}
    <p>Tato stránka je ve výrobě...</p>
    {% endblock  %}
    <p>&copy; Moje aplikace...</p>
</body>
</html>